#main{
    background-color: black;
    color: whitesmoke;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 30%;
    width: 30%;
    height: 50%;
}